<nav class="navbar navbar-dark navbar-expand bg-primary fixed-top">
  <a class="navbar-brand">Hausratversicherung</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/calculations"
         routerLinkActive="active"
         accesskey="b"
         title="Übersicht der Berechnungen öffnen"
         class="nav-link">
        Berechnungen
      </a>
    </li>
    <!--
    <li class="nav-item">
      <a routerLink="/products"
         routerLinkActive="active"
         accesskey="p"
         title="Übersicht der Produkte öffnen"
         class="nav-link">
        Produkte
      </a>
    </li>
    -->
  </ul>
</nav>
